# MNIST

## Keras MLP example

In [1]:
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.datasets import mnist
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import RMSprop

## Parameters

In [2]:
batch_size = 128
num_classes = 10
epochs = 20

## Data

In [3]:
(x_train, y_train), (x_test, y_test) = mnist.load_data()
x_train = x_train.reshape(60000, 784)
x_test = x_test.reshape(10000, 784)
x_train = x_train.astype('float32')
x_test = x_test.astype('float32')
x_train /= 255
x_test /= 255

In [4]:
x_train.shape

(60000, 784)

In [5]:
x_test.shape

(10000, 784)

In [6]:
# convert class vectors to binary class matrices
y_train = to_categorical(y_train, num_classes)
y_test = to_categorical(y_test, num_classes)

## Building the Arquitecture

In [7]:
model = Sequential()
model.add(Dense(512, activation='relu', input_shape=(784,)))
model.add(Dropout(0.2))
model.add(Dense(512, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(num_classes, activation='softmax'))

In [8]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               401920
_________________________________________________________________
dropout (Dropout)            (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 512)               262656
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                5130
=================================================================
Total params: 669,706
Trainable params: 669,706
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

## Training

In [10]:
model.fit(x_train, y_train, batch_size=batch_size, epochs=epochs)

Train on 60000 samples
Epoch 1/20
60000/60000 [==============================] - 5s 76us/sample - loss: 0.2503 - accuracy: 0.9245
Epoch 2/20
60000/60000 [==============================] - 3s 58us/sample - loss: 0.1001 - accuracy: 0.9693
Epoch 3/20
60000/60000 [==============================] - 4s 69us/sample - loss: 0.0703 - accuracy: 0.9778
Epoch 4/20
60000/60000 [==============================] - 3s 49us/sample - loss: 0.0558 - accuracy: 0.9822
Epoch 5/20
60000/60000 [==============================] - 3s 53us/sample - loss: 0.0473 - accuracy: 0.9848
Epoch 6/20
60000/60000 [==============================] - 3s 50us/sample - loss: 0.0372 - accuracy: 0.9876
Epoch 7/20
60000/60000 [==============================] - 3s 48us/sample - loss: 0.0342 - accuracy: 0.9890
Epoch 8/20
60000/60000 [==============================] - 3s 53us/sample - loss: 0.0298 - accuracy: 0.9899
Epoch 9/20
60000/60000 [==============================] - 4s 63us/sample - loss: 0.0269 - accuracy: 0.9913
Epoch 10/20
60000/60000 [==============================] - 6s 94us/sample - loss: 0.0262 - accuracy: 0.9912
Epoch 11/20
60000/60000 [==============================] - 8s 133us/sample - loss: 0.0217 - accuracy: 0.9926
Epoch 12/20
60000/60000 [==============================] - 8s 129us/sample - loss: 0.0208 - accuracy: 0.9931
Epoch 13/20
60000/60000 [==============================] - 8s 130us/sample - loss: 0.0195 - accuracy: 0.9939
Epoch 14/20
60000/60000 [==============================] - 8s 126us/sample - loss: 0.0206 - accuracy: 0.9935
Epoch 15/20
60000/60000 [==============================] - 7s 125us/sample - loss: 0.0188 - accuracy: 0.9936
Epoch 16/20
60000/60000 [==============================] - 8s 129us/sample - loss: 0.0184 - accuracy: 0.9939
Epoch 17/20
60000/60000 [==============================] - 8s 135us/sample - loss: 0.0160 - accuracy: 0.9948
Epoch 18/20
60000/60000 [==============================] - 8s 130us/sample - loss: 0.0166 - accuracy: 0.9946
Epoch 19/20
60000/60000 [==============================] - 8s 130us/sample - loss: 0.0172 - accuracy: 0.9942
Epoch 20/20
60000/60000 [==============================] - 8s 129us/sample - loss: 0.0167 - accuracy: 0.9948

## Test & evaluation

In [11]:
model.evaluate(x_test, y_test, verbose=0)[1]

0.9815

In [12]:
import pandas as pd

In [13]:
preds = pd.Series(model.predict_classes(x_test).tolist(),name='preds')
reals = pd.Series([x.tolist().index(1.0) for x in y_test],name='reals')
reals.index = range(len(reals))
pd.crosstab(reals,preds)

preds    0     1     2    3    4    5    6     7    8    9
reals
0      971     2     0    2    1    0    2     1    0    1
1        0  1130     2    1    0    0    1     0    1    0
2        3     0  1012    5    3    0    1     4    3    1
3        0     0     4  993    0    3    0     3    2    5
4        1     1     1    0  967    0    5     0    0    7
5        2     0     0    9    0  872    2     3    1    3
6        2     3     0    1    9    4  935     0    4    0
7        0     3    10    0    0    0    0  1008    2    5
8        4     1     3    5    7    5    0     2  940    7
9        1     2     0    4   13    1    0     1    0  987